<!-- Login page. -->
<div class="container login-container">
    <div class="center row">
        <div>
            <img alt="MyTasks" width="90" height="125" src="img/icon.png"  >
        </div>
    </div>
    <br/>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="instanceName" placeholder="ServiceNow instance name">
        </div>

        <div class="form-group text-center">
            <span ng-if="instanceName.length==0">https://{instance}.service-now.com</span>
            <span ng-if="instanceName.length>0">https://{{instanceName}}.service-now.com</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" ng-model="userName" placeholder="Username">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary wide" ng-click="login()">Login</button>
        </div>

        <!-- display login related error messages -->
        <div class="form-group" ng-if="errorMessage">
            <div  class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>
        </div>
</div>